:root {
  --fondo: rgb(49, 49, 49);
}
* {
  overflow: hidden;
  font-family: "Roboto", sans-serif; /* Cambiar la fuente */
 
}


.marco {
  position: absolute;
  width: 450px;
  height: 620px;
  border-radius: 15px;
  border: 2px solid rgb(32, 32, 32);
  background-color: var(--fondo);
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.712); /* Agregamos una sombra */
  z-index: 0;
}
.marco::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.712);
  z-index: 0;
}
.boton {
  position: absolute;
  bottom: 8px;
  opacity: 0.2;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 20px;
  border-radius: 25px;
  background-color: rgb(155, 154, 154);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
  transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out;
}

.boton:hover {
  background-color: #f3f3f3;
  opacity: 0.4;
  
}

.boton:active {
  transform: translate(-50%, 3px); /* Ajusta la posición aún más hacia abajo al hacer clic */
}


.boton-atras {
  position: absolute;
  bottom: 1px;
  font-size: 20px;
  opacity: 0.2; /* Cambiar el valor de opacidad para que se vea más tenue */
  left: 60%;
  transform: translateX(-50%);
  border: none;
  background: none;
  color: #fff;
  transition: opacity 0.3s ease-in-out , font-size 0.3s ease-in-out; /* Cambiar la propiedad de transición a 'opacidad' */
}

.boton-atras:hover {
  opacity: 1;
  font-size: 21px;
}

.barra-brillo {
  /* Estilos para la barra de brillo */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 15px;
  left: 0;
  right: 0;
  
}



.app-activa {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  border-radius: 5px;
  z-index: 2;
}


.pantalla {
  background-image: url('../img/fondos.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 0px 0px 10px 0px; /* top right bottom left */
  height: calc(100% - 35px);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.barra-notificaciones {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 20px;
  background-color: rgba(51, 51, 51, 0.425);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out;
  overflow: hidden;
  cursor: pointer; /* Agregado para mostrar el cursor de clic */
}
.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.boton-brillo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; 
  width: 50px; /* Ancho del botón */
  height: 50px;
  margin: 0 5px; /* Margen izquierdo y derecho de 5px */
  padding: 10px 10px; /* Espaciado interno del botón */
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  font-size: 14px; /* Tamaño de fuente */
  color: #ffffff; /* Color del texto */
  cursor: pointer; /* Cambio de cursor al pasar el mouse */
  transition: background-color 0.3s ease-in-out; /* Transición de color al pasar el mouse */
}
.boton-brillo i{
  font-size: 20px;
}
.boton-brillo:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Color de fondo al pasar el mouse */
  color: rgb(176, 190, 252);
}

.barra-notificaciones.expandida {
  height: calc(40% - 50px);
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out;
  background-color: rgba(51, 51, 51, 0.87);
}

.contenido-expandido {
  display: none;
  flex-grow: 1;
}

.barra-notificaciones.expandida .contenido-expandido {
  display: flex;
}




.aplicaciones {
  height: 85%;
  width: 90%;
  display: flex;
  flex-direction: row;
  z-index: 2;
}


.aplicacion {
  padding: 15px;
  background-size: cover;
  margin: 0 5px 5px 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.icono {
  width: 50px;
  height: 50px;
  background-size: cover;
  margin: 10px;
}


.app-activa button.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}



.nombre {
  font-size: 12px;
  text-align: center;
  color: white;
  font-weight: 100;
}




.reloj {  
  position: absolute;
  top: 2px;
  right: 1px;
  width: 60px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: 100;
}

.noti-contenedor {
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 10px;
  max-height: auto;

}

.noti-barra {
  width: 250px;
  height: auto;
  background-color: rgba(145, 145, 145, 0.8);
  /* el valor '0.8' establece la opacidad */
  background: linear-gradient(0deg, rgba(145,145,145,1) 20%, rgba(125,125,125,1) 61%);
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px ;
  opacity: 0;
  animation: deslizar 0.5s ease forwards, mostrar 0.5s ease forwards;
}
@keyframes deslizar {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes mostrar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.noti-barra i {
  width: auto;
  color: white;
  margin-top: 5px; /* agregar un margen derecho */
  padding-left: 5px; /* agregar un padding derecho */
  padding-right: 15px;
}





.noti-barra .titulo {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-top: 5px;
}

.noti-barra .mensaje {
  font-size: 14px;
  color: white;
  margin-top: 10px;
  font-weight: 10;
  
}




input[type="range"] {
  -webkit-appearance: none;
  width: 90%;
  height: 10px;
 padding: 2px;
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #555;
}

input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:hover {
  background-color: #555;
}
